@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fontes padr찾o */
:root {
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
  --foreground: #171717;
  --background: #ffffff; /* fundo padr찾o claro */
}

html.dark {
  --foreground: #ededed;
  --background: #000000; /* fundo preto s처lido no modo escuro */
}

body {
  font-family: var(--font-sans);
  background-color: var(--background); /* aplica cor s처lida */
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
